
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title></title>
		<meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge"/>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
		<link rel="stylesheet" type="text/css" href="https://x3dom.netlify.app/x3dom.css'"/>
		<script type="text/javascript" src="https://x3dom.netlify.app/x3dom-full.js"/>
		<meta name="warning" content="Webfonts must be loaded prior to using Text node in X3D scene... see http://x3dom.org/x3dom/example/x3dom_text.html"/>
	</head>
	<body>

	<style>
		.images {
			display: flex;
			flex-wrap: wrap;
		}
		.image {
			background-color: #FAFAFA;
			flex-grow: 1;
			display: inline-block;
		}
		.thumb {
			background-color: #FEFEFE;
		}
		.imageinfo div {
		}
	</style>

    {% block content %}{% endblock %}

	</body>
</html>